/* //estilos Carrousel */
.carousel-inner{
    height: 199px;
    text-align: center;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
}
.carousel-control-next-icon {
    background-color: #dc3545;
}
.carousel-control-prev-icon {
    background-color: #dc3545;
}
@media (min-width: 576px) {
    .carousel-inner{
        height: 230px;
    }
}
@media (min-width: 768px) {
    .carousel-inner{
        height: 400px;
    }
}


@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {
    
}
@media (min-width: 1600px) {
    .carousel-inner{
        height: 600px;
    }
}