// Puntos de interrupcion
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colores

$color-principal: #005aaa;
$blanco: #fff;
$negro: #000;
$gris: #d6d6d6;